name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
          secrets: |
            SECRET

        env:
          SENDER_NAME: ${{ vars.SENDER_NAME }}
          SENDER_EMAIL: ${{ vars.SENDER_EMAIL }}
          REPLY_EMAIL: ${{ vars.REPLY_EMAIL }}
          FORWARD_EMAIL: ${{ vars.FORWARD_EMAIL }}
          ORGANIZATION_NAME: ${{ vars.ORGANIZATION_NAME }}
          WEBSITE_URL: ${{ vars.WEBSITE_URL }}
          BOUNCE_MAIL_SUBJECT: ${{ vars.BOUNCE_MAIL_SUBJECT }}
          BOUNCE_MAIL_BODY: ${{ vars.BOUNCE_MAIL_BODY }}
          SECRET: ${{ secrets.SECRET }}
